<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>

    <div *ngIf="usuario.foto === '[object Blob]' "  (click)="tomarFoto()" >
      <img src="assets/711769.png">
    </div>

    <div *ngIf="usuario.foto !== '[object Blob]' " (click)="tomarFoto()" >
      <img [src]="usuario.foto">
    </div>

    <ion-card-header>
      <ion-card-title>Mis datos personales</ion-card-title>
      <hr class="hr">
    </ion-card-header>
    
    <ion-card-content>
      <p> <a class="quitarEstilo">Nombre de usuario: </a>{{this.usuario.nombre_usuario}}</p>
      <p> <a class="quitarEstilo">Nombre: </a>{{this.usuario.nombre}}</p>
      <p> <a class="quitarEstilo">Apellidos: </a>{{this.usuario.apellidos}}</p>
      <p> <a class="quitarEstilo">Email: </a>{{this.usuario.email}}</p>
      <p *ngIf="usuario.rol_id === 1"><a class="quitarEstilo">Tu cuenta es de tipo conductor</a></p>
      <p *ngIf="usuario.rol_id === 2"><a class="quitarEstilo">Tu cuenta es de tipo pasajero</a></p>
      <ion-button class="boton" [routerLink]="['/modificar-perfil']" size="default" expand="block">Modificar perfil</ion-button>
      <ion-button *ngIf="usuario.rol_id === 1" class="boton" size="default" expand="block" [routerLink]="['/lista-vehiculo']">Ver mis vehiculos</ion-button>
      <ion-button *ngIf="usuario.rol_id === 1" class="boton" size="default" expand="block" [routerLink]="['/registro-vehiculo']">Agregar vehiculo</ion-button>

      <ion-button class="botonRojo"  (click)="desconectarse()" size="default" expand="block">Cerrar sesión</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>