<ion-header>
  <ion-toolbar>
    <ion-title>contrasenaOlvidada</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <img class="center" src="../../../assets/asd.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recupera tu clave</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Ingresa tu nombre de usuario y luego crea una nueva clave</p>
      <form [formGroup]="formGroup" (ngSubmit)="validarUsuario()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="blanco">Nombre</mat-label>
          <input type="text" id="nombre" matInput formControlName="nombre" required>
        </mat-form-field>
        <p class="msjError" *ngIf="(formGroup.get('nombre').hasError('required') && formGroup.get('nombre').touched )">
          Ingrese datos</p>

        <ion-button expand="block" id="aceptar" type="sumbit">Aceptar</ion-button>      
      </form>

    </ion-card-content>

  </ion-card>
</ion-content>