<ion-header>
  <ion-toolbar>

  </ion-toolbar>


</ion-header>
<ion-content>

  <img src="../../../assets/asd.png" />

<h1 class="texto">Bienvenido {{usuario.nombre_usuario}}</h1>

  <ion-tabs>

    <div class="margen" *ngIf="usuario.rol_id === 1">

      <ion-button class="boton" size="default" expand="block" [routerLink]="['/reportes']">Historial de viajes
      </ion-button>

      <ion-button class="boton" size="default" expand="block" [routerLink]="['/lista-vehiculo']">Ver mis vehiculos
      </ion-button>

      <ion-button class="boton" size="default" expand="block" [routerLink]="['/preguntas-frecuentes']">Preguntas
        frecuentes</ion-button>

      <ion-button class="boton" (click)="desconectarse()" size="default" expand="block">Cerrar sesión</ion-button>

    </div>

    <div class="margen2" *ngIf="usuario.rol_id === 2">
      <ion-button class="boton" size="default" expand="block" [routerLink]="['/preguntas-frecuentes']">Preguntas
        frecuentes</ion-button>
      <ion-button class="boton" [routerLink]="['/login']" size="default" expand="block">Cerrar sesión</ion-button>
    </div>

    <ion-tab-bar slot="bottom">
      <ion-tab-button
        *ngIf="usuario.rol_id === 1 && ruta.viaje_id !== '' && ruta.status === 1 || usuario.rol_id === 1 && ruta.viaje_id !== '' && ruta.status === 2 "
        [routerLink]="['/ruta-actual']">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Ver ruta</ion-label>
      </ion-tab-button>

      <ion-tab-button
        *ngIf="usuario.rol_id === 1 && ruta.status === 3 || usuario.rol_id === 1 &&  ruta.viaje_id === '' "
        [routerLink]="['/crear-ruta']">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Crear ruta</ion-label>
      </ion-tab-button>


      <ion-tab-button
        *ngIf="usuario.rol_id === 2 && ruta.viaje_id != '' && ruta.status === 1 || usuario.rol_id === 2 && ruta.viaje_id !== '' && ruta.status === 2 "
        [routerLink]="['/ruta-actual-pasajero']">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Ver viaje</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="usuario.rol_id === 2 && ruta.status === 3 || usuario.rol_id === 2 &&  ruta.viaje_id === ''"
        [routerLink]="['/viaje']">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Viajar</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/perfil']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


</ion-content>