// .mapa {
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 320px;
//     height: 590px;
// }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -60px;

}

ion-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-card {
  --background: #121212;
}

ion-card-subtitle,
ion-card-title {
  color: #e8bffd;
  font-size: 20px;
  text-align: center;
}


.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.distancia {
  font-size: 15px;
  color: #e8bffd;
}

.mapa{
  display: block;
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.label{
  color: white;
}

.boton {
  --color: #fffeff;
  --background: #4f2e7f;
  --background-hover-opacity: 20%;
  margin-bottom: 15px;

}
.boton1 {
  --color: #fffeff;
  --background: #4f2e7f;
  --background-hover-opacity: 20%;
  
}

.fondo {
  --background: #4f2c80;
}


