<ion-header>
  <ion-toolbar>
    <ion-title>crearRuta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear ruta</ion-card-title>
      <hr class="hr">
    </ion-card-header>

    <ion-card-content>


      <form [formGroup]="formMapas" (ngSubmit)="crearRuta()" class="form">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="label">Selecciona un vehiculo</mat-label>
          <select matNativeControl formControlName="vehiculos" (change)="vehiculoSeleccionado($event)">
            <option value="1">SELECCIONA UNA PATENTE</option>
            <option  *ngFor="let v of arregloVehiculo" [value]="v.patente">
              Modelo: {{v.modelo}}, Patente: {{v.patente}}
            </option>
          </select>
        </mat-form-field>

        <h2>{{this.patenteSeleccionada}}</h2>


        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="label">Origen ruta</mat-label>
          <input matInput type="text" #rutaInicio id="rutaInicio" formControlName="ruta1">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="label">Destino ruta</mat-label>
          <input matInput type="text" #rutaFin id="rutaFin" formControlName="ruta2">
        </mat-form-field>

        <h2 id="distancia"></h2>


        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="label">Precio</mat-label>
          <input matInput type="number" id="precio" formControlName="precio">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="label">Asientos disponibles</mat-label>
          <input matInput type="number" id="asientos" formControlName="asientos">
        </mat-form-field>


        <ion-button class="boton" size="default" expand="block" type="submit">Crear ruta</ion-button>


      </form>
      <ion-button class="boton1" size="default" expand="block" (click)="calcularRuta()">Calcular ruta</ion-button>


      
    </ion-card-content>
  </ion-card>
  <div class="mapa" #divMap></div>



</ion-content>