<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title>Ruta actual</ion-card-title>
      <hr class="hr">
    </ion-card-header>

    <ion-card-content>
      <p><a class="quitarEstilo">Origen: </a>{{this.ruta.origen}}</p>
      <p><a class="quitarEstilo">Destino: </a>{{this.ruta.destino}}</p>
      <p><a class="quitarEstilo">Precio:</a> {{this.ruta.monto | currency: 'CLP'}}</p>
      <p><a class="quitarEstilo">Asientos disponibles: </a>{{this.ruta.asientos_dispo}}</p>

      <ul>
        <p> <a class="quitarEstilo">Pasajeros: </a></p>
        <li *ngFor="let p of pasajeros">{{p.nombre}}</li>
      </ul>
      

      <ion-button  class="boton" id="comenzar" (click)="empezarRuta()" size="default" expand="block">Comenzar ruta</ion-button>
      <ion-button  class="botonRojo" id="eliminar" (click)="eliminarRuta()" size="default" expand="block">Eliminar ruta</ion-button>
      
    </ion-card-content>
  </ion-card>


  
  <div class="mapa"  id="mapa" #divMap hidden></div>

  <h2 class="distancia" id="distancia"  hidden>{{distancia}}</h2>

  <ion-button  class="boton" id="terminar" (click)="terminarRuta()" size="default" expand="block" hidden>Terminar ruta</ion-button>


</ion-content>
